{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% block css %}{% endblock css %}

</head>
<body>
    
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="{% url "main:index" %}" class="logo">КЭС</a>

        <!-- Hamburger icon -->
        {% block memu %}{% endblock memu %}

    </header>

    <!-- Main content -->
    {% block content %}{% endblock content %}


</body>
</html>